/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/GerenciarTurnos.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.GerenciarTurnos_container__nNZSA {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.GerenciarTurnos_title__ewcsm {
    color: #333;
    margin-bottom: 20px;
}

.GerenciarTurnos_tableContainer__f9y_O {
    margin-top: 20px;
}

.GerenciarTurnos_grid__pFzFj {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.GerenciarTurnos_item__ZydGJ {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.GerenciarTurnos_item__ZydGJ:hover {
    transform: scale(1.02);
}

.GerenciarTurnos_label__56WRg {
    margin-top: 10px;
    font-weight: bold;
}

.GerenciarTurnos_input__deWyx {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.GerenciarTurnos_buttonSalvar__YvuUT {
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.GerenciarTurnos_buttonSalvar__YvuUT:hover {
    background-color: #218838;
}

.GerenciarTurnos_buttonExcluir__trQiT {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.GerenciarTurnos_buttonExcluir__trQiT:hover {
    background-color: darkred;
}

