.calendarioContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.infoEscalas {
  margin-top: 30px;
  text-align: center;
}

.diaInfo {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.editarBotao {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editarBotao:hover {
  background-color: #0056b3;
}
